{% extends 'base.html' %}

{% block content %}
  <h2>Tasks with tag: "{{ tag.name }}"</h2>
  <ul>
    {% for task in tasks %}
      <li>
        <a href="{% url 'tasks:task_detail' task.id %}">{{ task.title }}</a>
        (Due: {{ task.due_date }})
      </li>
        <li>
            <a href="{% url 'tasks:task_detail' task.id %}">{{ task.title }}</a>
            (Due: {{ task.due_date }}{% if task.time %} at {{ task.time|time:"H:i" }}{% endif %})
        </li>
    {% empty %}
      <li>No tasks with this tag.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'tasks:task_list' %}">Back to Task List</a>
{% endblock %}